/* colors from colorbrewer2.org
main banner background: #de2d26
nav bar bottom border: #bdbdbd
*/
html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4.5em;
    text-align: center;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

caption {
    caption-side: bottom
    margin-top: 0.5em;
    text-align: center;
}

#banner {
    background-color: #de2d26;
    color: #ffffff;
    width: 100%;
}

#nav_bar {
    border-bottom: solid 2px #bdbdbd;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

#nav_bar a:link {
    color: #bdbdbd;
}

#nav_bar a:hover {
    color: #b30000;
}

.nav_span {
    margin-right: 2em;
}

#container {
    width: 100%;
}

#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

#cornellkpl > img {
    vertical-align: middle;
}

.kplcolor {
    color:#de2d26;
    font: italic;
}
